.button {
    border-radius: 4px;
    background: $MainGradientRed;
    padding: 12px;
    font-weight: 700;
    color: #FFF;
    white-space: nowrap;
    @include phones {
        font-size: 12px;
    }

    &_gray {
        align-items: center;
        background: #1E1E1E;
    }
    &_decorative-gray {
        display: flex;
        align-items: center;
        background: #1E1E1E;
        font-weight: 600;
        font-size: 14px;
    }
    &_transparent-red {
        background: transparent;
        border: solid 1px #CA0000;
    }
    &_transparent-gray {
        background: transparent;
        border: solid 1px #0F0F0F;        
    }
    &_listen {
        
        &::before {
            content: url("../src/img/svg/play-symbol.svg");
            margin-right: 4px;
        }
    }
    &_subscribe {
        border-color: #1E1E1E;;
        &::before {
            content: url("../src/img/svg/plus-icon.svg");
            margin-right: 4px;
        }
    }

}