// @function rem($px) {
//     @return $px / $BaseFontsize + 0rem;
// }

@mixin phones {
    @media screen and (max-width: $Phones) {
        @content;
    }
}
@mixin tablets {
    @media screen and (max-width: $Tablets) {
        @content;
    }
}
@mixin laptops {
    @media screen and (max-width: $Laptops) {
        @content;
    }
}
%only-desktop-visible {
    @include laptops {
        display: none !important;
    }
}
%only-non-desktop-visible {
    @media screen and (min-width: $Laptops) {
        display: none;
    }
}
%only-phones-visible {
    @media screen and (min-width: $Phones) {
        display: none;
    }
}
%only-phones-db {
    @media screen and (max-width: $Phones) {
        display: block !important;
    }
}
%only-phones-non-visible {
    @media screen and (max-width: $Phones) {
        display: none !important;
    }
}
%media-tablets-none {
    @include tablets{
        display: none;
    }
}
%media-phones-none {
    @include phones{
        display: none;
    }
}
