.authors {
    margin-bottom: 100px;

    &__top-content-wrapper {
        display: flex;
        justify-content: space-between;
        margin-bottom: 36px;
    }
    &__navigation {
        display: flex;

    }
    &__scrollblock {
        gap: 24px;
    }
    &__card {
        display: flex;
        flex-direction: column;
        align-items: center;
        background: #0A0A0A;
        border-radius: 8px;
        padding: 16px 16px 24px;
    }
    &__avatar {
        border-radius: 50%;
        margin-bottom: 10px;
        @include phones {
            max-width: 140px;
        }
    }
    &__name {
        font-weight: 700;
        font-size: 12px;
    }
    &__tagname {
        font-weight: 700;
        font-size: 10px;
        color: #6F767E;
    }
}