.authors {
    margin-bottom: 100px;

    &__top-content-wrapper {
        display: flex;
        justify-content: space-between;
        margin-bottom: 36px;
    }
    &__navigation {
        display: flex;

    }
    &__feed {
        display: flex;
        justify-content: space-between;
    }
    &__card {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__avatar {
        border-radius: 50%;
        margin-bottom: 10px;
    }
    &__name {
        font-weight: 700;
        font-size: 12px;
    }
    &__tagname {
        font-weight: 700;
        font-size: 10px;
        color: #6F767E;
    }
}