.burger-menu {
    display: none;
    @include laptops {
        display: block;
        order: -1;
        margin-right: 12px;
    }
    @include phones {
        display: block;
        order: 3;
    }
}
.burger-menu__element1, .burger-menu__element2, .burger-menu__element3 {
    width: 16px;
    height: 2px;
    background-color: rgb(255, 255, 255);
    margin: 5px 0;
    transition: 0.3s;
    border-radius: 0.83px;
}