.footer {
    border-top: solid 2px #0f0f0f;
    padding: 48px;
    @include phones {
        padding: 32px 40px 64px 32px;
        border-top: none;
    }

    &__main-block {
        display: flex;
        justify-content: space-between;
        @include phones {
            flex-direction: column;
            gap: 40px;
            margin-bottom: 40px;
        }
    }
    &__login-block {
        display:flex;
        flex-direction: column;
        justify-content: space-between;
        margin-right: 72px;
        flex-shrink: 0;
        @include phones {
            margin-right: 0;
        }
    }
    &__login {
        font-size: 12px;
        font-weight: 700;
    }
    &__rights {
        align-self: flex-end;
        font-weight: 400;
        font-size: 12px;
        // @extend %media-phones-none;
        @include phones {
            max-width: 55%;
        }
    }
    &__title {
        font-weight: 700;
        font-size: 24px;
        margin-bottom: 44px;
        @include phones {
            margin-bottom: 20px;
        }
    }
    &__link-blocks {
        display: flex;
        flex-wrap: wrap;
        gap: 71px;
        margin-bottom: 72px;
        @include phones {
            flex-direction: column;
            row-gap: 48px;
            margin-bottom: 0px;
        }
    }
    &__link-block {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        row-gap: 24px;
        font-weight: 500;
        font-size: 12px;

    }
    &__link-title {
        font-size: 16px;
        font-weight: 600;
    }
    &__side-block {
        display: flex;
        flex: 1;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
        @include phones {
            order: -1;
            align-items: flex-start;
        }
    }
    &__copyright-block {
        display: flex;
        justify-content: space-between;
        @include phones {
            align-items: flex-end;
        }
    }
    &__logo {
        flex-shrink: 0;
        min-width: 180px;
    }
    &__privacy {
        font-weight: 400;
        font-size: 12px;
        color: #B8B8B8;
        // @extend %media-phones-none;
    }
    // &__copyrights-block-mobile {
    //     display: none;
    //     // @extend %only-phones-db;
    //     @include phones {
    //         display: flex;
    //         justify-content: space-between;
    //         align-items: flex-end;
    //     }
    //     & span {
    //         display: block;
    //     }

    // }
}