.header {
    background: #0F0F0F;
    font-size: 12px;
    display: flex;
    align-items: center;
    color: #B8B8B8;
    justify-content: space-between;
    padding: 0 48px;
    height: 64px;

    &__logo {
        margin-right: 16px;
        flex-shrink: 0;
        @extend %only-desktop-visible;
        // @include phones {
        //     display: block;
        // }
    }
    &__logo-mobile {
        margin-right: 12px;
        flex-shrink: 0;
        @extend %only-non-desktop-visible;
        @include phones {
            display: block;
        }
    }
    &__side-wrapper {
        display: flex;
        align-items: center;
        @include phones {
            justify-content: space-between;
        }
    }
    &__site-menu {
        font-weight: 600;
        @extend %only-desktop-visible;
    }
    &__begin-button {
        margin-right: 32px;
        // @extend %media-phones-none;
        @extend %media-tablets-none;
    }
    @include phones {
        flex-direction: column;
        padding: 20px 24px;
        align-items: normal;
        height: 84px;;
    }
}