.history {
    display: flex;
    gap: 32px;
    margin-bottom: 20px;
    align-items: flex-start;
    @include phones {
        flex-direction: column;
        align-items: stretch;
    }
    

    &__title {
        font-weight: 600;
        font-size: 24px;
        margin-bottom: 16px;
    }
    &__side-block {
        display: flex;
        flex-direction: column;
        background: #0F0F0F;
        border-radius: 8px;
        padding: 16px;
        flex-basis: 312px;
        .history__title {
        margin-bottom: 25px;
        }
        @include phones {
            flex-basis: auto;
        }
    }
    &__side-list {
        display: flex;
        flex-direction: column;
        row-gap: 8px;
    }
    &__side-card {
        display: flex;
        justify-content: space-between;
        border-width: 1px 0px;
        border-style: solid;
        border-color: #1E1E1E;
        border-radius: 8px;
        padding: 16px;

        &:first-child {
            display: block;

            @include phones {
                display: flex;
                padding: 4px;
                gap: 4px;
                border-width: 1px;
            }
        }
        &:not(.history__side-card:first-child) {
            @include phones {
                display: none;
            }
        }
        &-inner-wrap {
            display: flex;
            justify-content: space-between;

            @include phones {
                display: flex;
                justify-content: space-between;
                flex-grow: 1;
                background: #1E1E1E;
                border-radius: 8px;
                padding: 16px;
            }

        }
        &-mobile-element {
            display: none;
            @include phones {
                display: flex;
                width: 20px;
                background: #1E1E1E;
                border-radius: 4px;
                align-items: center;
                justify-content: center;
            }
        }
    }
    &__side-card-text {
        font-weight: 600;
        font-size: 14px;
        display: flex;
        flex-direction: column;
        
        .history__buy-items {
            font-weight: 400;
            font-size: 10px;
            color: #B8B8B8;
        }
    }
    &__side-card-status {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    }
    &__buy-status {
        display: flex;
        align-items: center;
        & + span {
            font-weight: 500;
            font-size: 10px;
            color: #B8B8B8;
        }
    }
    &__buy-status-info {
        font-weight: 500;
        font-size: 12px;

        &_positive {
            color: rgba(52, 23, 235, 1);
        }
        &_negative {
            color: #bd1717;
        }
    }
    &__chosen-buy {
        display: flex;
        flex-direction: column;
        flex-grow: 1;

        &-price {
            font-weight: 600;
            font-size: 24px;
            @include phones {
                font-size: 26px;
            }
        }
        &-album-status {
            font-weight: 600;
            font-size: 16px;
            color: #B8B8B8;
            @include phones {
                font-size: 18px;
            }
        }
    }
    &__buy-title {
        font-weight: 600;
        font-size: 24px;
        @include phones {
            font-size: 20px;
        }
    }
    &__chosen-buy-card {
        // flex-basis: 966px;
        display: grid;
        grid-template-columns: auto 1fr auto;
        grid-template-rows: 80% 20%;
        background: #0F0F0F;
        border-radius: 8px;
        padding: 16px;
        margin-bottom: 56px;
        &:last-child {
            margin-bottom: 0;
        }
        @include phones {
            grid-template-columns: 72px 176px;
            grid-template-rows: 46px auto 1fr;
        }

        &-wrapper {
            display: flex;
            flex-direction: column;
            h5 {
                font-size: 12px;
                @include phones {
                    font-size: 14px;
                }
            }

            &_mobile-top {
                @include phones {
                    grid-area: 1 / 2 / 2 / 4;
                    padding-left: 12px;
                }
            }
            &_mobile-bot {
                @include phones {
                    grid-area: 3 / 1 / 4 / 3;
                }
            }
        }
    }
    &__track-cover {
        position: relative;
        margin-right: 14px;
        flex-shrink: 0;
        grid-area: 1 / 1 / 4 / 1;
        @include phones {
            grid-area: 1 / 1 / 3 / 2;
            margin: 0;
        }
        &::after {
            content: url("../src/img/svg/play-icon-big.svg");
            position: absolute;
            top: 0%;
            left: 0%;
            transform: translate(227%, 183%);
            @include phones {
                transform: translate(123%, 83%);
            }
            
        }
    }
    &__buy-img {
        @extend .track__img;
        // width: 128px;
    }
    &__track-count {
        grid-area: 2 / 2 / 3 / 4;
        border-top: 1px solid #1E1E1E;
        padding-top: 5px;
        @include phones {
            font-weight: 600;
            font-size: 14px;
            padding-left: 12px;
        }
    }
}