.login-block {
    display: flex;
    font-weight: 600;
    margin-right: 32px;
    gap: 14px;
    position: relative;

    &__register {

        &::after {
            content: "";
            border-left: solid 1px white;
            position: absolute;
            height: 22.5px;
            right: 42px;
            top: -4px;

        }
    }
}