.releases {
    display: flex;
    flex-direction: column;
    background-color: #0F0F0F;
    border-radius: 8px;
    padding: 40px;
    gap: 32px;
    margin-bottom: 80px;
    white-space: nowrap;
    @include phones {
        padding: 20px;
    }

    &__feed {
        gap: 24px;
    }
    &__top-content-wrapper {
        display: flex;
        justify-content: space-between;
        @include phones {
            column-gap: 13px;
            align-items: center;
        }
    }
}