.releases {
    display: flex;
    flex-direction: column;
    background-color: #0F0F0F;
    border-radius: 8px;
    padding: 40px;
    gap: 32px;
    margin-bottom: 80px;
    white-space: nowrap;
    @include phones {
        padding: 20px;
    }
    &_profile {
        padding: 0;
        background: none;
        @include phones {

        }
        & .playlist {
            @include phones {
                max-width: inherit;
            }
        }
        & .releases__scrollblock {
            @include phones {
                flex-direction: column;
            }
        }
        & .playlist__cover {
            @include phones {
                width: 100%;
            }
        }
        & .playlist__cover-shadow {
            @include phones {
                top: 30px;
                left: 10px;
                width: 92%;
            }
        }
    }

    &__scrollblock {
        gap: 24px;
    }
    &__top-content-wrapper {
        display: flex;
        justify-content: space-between;
        @include phones {
            column-gap: 13px;
            align-items: center;
        }
    }
}