.track {
    display: flex;
    align-items: center;
    border: 1px solid #0F0F0F;
    border-radius: 8px;
    padding: 12px;
    @include phones {
        display: grid;
        // grid-template-columns: 10% 90%;
        // grid-template-rows: 33% 16% 33%;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto auto;
        gap: 10px;
        align-items: inherit;
        padding: 24px 24px 24px 8px;
    }

    &__number {
        flex-basis: 32px;
        flex-grow: 0;
        @include phones {
            grid-area: 1 / 1 / 4 / 1;
        }
    }
    &__naming-wrapper {
        display: flex;
        // flex-basis: 417px;
        flex-basis: 417px;
        flex-shrink: 3;
    }
    &__collection-name {
        flex-basis: 273px;
        flex-grow: 1;
        flex-shrink: 5;
        font-weight: 500;
        font-size: 14px;
        color: #fff;
        display: flex;
        justify-content: space-between;
    }
    &__time-mobile {
        display: none;
        @include phones {
            display: block;
        }
    }
    &__price-block {
        // flex-basis: 219px;
        flex-basis: 283px;
        flex-grow: 1;
        flex-shrink: 0;

        &_single-top {
            grid-area: 5 / 1 / 6 / 2;
        }
    }
    &__time {
        // flex-basis: 417px;
        flex-grow: 1;
        @extend %only-phones-non-visible;
    }
    &__cover {
        position: relative;
        margin-right: 14px;
        flex-shrink: 0;
        &::after {
            content: url("../src/img/svg/play-symbol.svg");
            position: absolute;
            top: 0%;
            left: 0%;
            transform: translate(117%, 53%);
        }
    }
    &__img {
        border-radius: 50%;
    }
    &__info {
        display: flex;
        flex-direction: column;
    }
    &__title {
        font-weight: 600;
        font-size: 14px;
        white-space: nowrap;
    }
    &__price-icon {
        display: flex;
        justify-content: flex-start;
        flex-shrink: 0;
        // background: linear-gradient(86.32deg, rgba(189, 23, 23, 0.5) 0%, rgba(202, 0, 0, 0.5) 100%);
        background: #CA0000;
        border-radius: 100px;
        // border: #bd1717 1px solid;
        padding: 4px 8px;
        max-width: 50px;
        margin-right: 2px;

        &-text {
            font-weight: 400;
            font-size: 10px;
            margin-right: 2px;
        }
    }
    &__name-wrapper {
        display: flex;
        align-items: center;
        gap: 6px;
    }
    &__creator-wrapper {
        display: flex;
        align-items: center;
        gap: 6px;
    }
    &__creator {
        font-weight: 400;
        font-size: 12px;
    }
    &__favorite-icon {
        // background: linear-gradient(86.32deg, rgba(189, 23, 23, 0.5) 0%, rgba(202, 0, 0, 0.5) 100%);
        background-color: #CA0000;
        border-radius: 50%;
        // border: #bd1717 1px solid;
        // width: 20px;
        // height: 20px;
        padding: 4px;
    }
    &__price {
        display: flex;
        align-items: center;
        background: #0F0F0F;
        border-radius: 4px;
        padding: 6px 8px;
        gap: 12px;
        margin-right: 18px;
        @include phones {
            flex-wrap: wrap;
            margin-right: 0;
        }
        
        &-block {
        display: flex;
        align-items: flex-start;
        font-weight: 600;
        font-size: 12px;
        }
        &-dropdown {
            display: flex;
            align-items: center;
            column-gap: 2px;
            // padding: 8px 10px;
            padding: 10px; // new
            background: #1E1E1E;
            border-radius: 4px;
            @include phones {
                flex-grow: 1;
            }
        }
    }
    &__add-cart-icon {
        align-self: center;
    }
    &__time {
        font-weight: 600;
        font-size: 20px;
    }
    &__cart-button {
        background-color: #CA0000;
        padding: 9px 10px; // new
        @include phones {
        }
        justify-content: space-between;
    }

}