.typing-block {
    display: flex;
    align-items: center;
    background: #060606;

    &_comment {
        position: static;
        padding: 0 0 24px 0;

        .typing-block__button:nth-child(2) {
            display: none;
        }
        .typing-block__button:nth-child(3) {
            display: none;
        }
    }

    @include phones {
        padding: 0;
        gap: 8px;
    }

    &__buttons {
        display: flex;
        gap: 24px;
        flex-shrink: 0;
        @include phones {
            img {
                display: none;
            }
            img:first-child {
                display: block;
            }
        }
    }
}