.wrapper {
    display: flex;
    flex-direction: column;
    padding: 0 3%;

    &_chat {
        padding: 0;
    }

    &_collections {
        padding: 0 11%;
        @include phones {
            padding: 0 6%;
        }
    }

    @include phones {
        padding: 0 6%;
    }
}