@import "styles/fonts.scss";
@import "styles/constants.scss";
@import "styles/media.scss";
@import "styles/base.scss";
@import "styles/button-container.scss";
@import "styles/button.scss";
@import "styles/scrollblock.scss";

@import "blocks/authors.scss";
@import "blocks/buff-promo.scss";
@import "blocks/cart-vidget.scss";
@import "blocks/find-beats-promo.scss";
@import "blocks/footer.scss";
@import "blocks/genres.scss";
@import "blocks/header.scss";
@import "blocks/hero.scss";
@import "blocks/login-block.scss";
@import "blocks/nav-arrows.scss";
@import "blocks/page-title.scss";
@import "blocks/playlist.scss";
@import "blocks/releases.scss";
@import "blocks/search-form.scss";
@import "blocks/site-menu.scss";
@import "blocks/timeline-vidget.scss";
@import "blocks/wrapper.scss";
@import "blocks/burger-menu.scss";
@import "blocks/profile.scss";
@import "blocks/tracklist.scss";
@import "blocks/track.scss";
@import "blocks/history.scss";
@import "blocks/login.scss";
@import "blocks/pop-requests.scss";
@import "blocks/buy-block.scss";
@import "blocks/license.scss";
@import "blocks/player.scss";
@import "blocks/explore.scss";
@import "blocks/track-page.scss";
@import "blocks/chat.scss";
@import "blocks/typing-block.scss";
@import "blocks/dialog.scss";
@import "blocks/collections.scss";
@import "blocks/item-info.scss";
@import "blocks/feed.scss";
@import "blocks/comments.scss";
@import "blocks/side-filter.scss";

.track__cart-button > .track__price-dropdown-icon {
    width: 18px;
    height: 17px;
}

.section-divider {
    border-top: solid gray 1px;
}

.beats {
    margin-bottom: 20px;

    &__price-block {
        justify-content: flex-end;
    }
    &__track-time {
        flex-grow: 0;
    }
}

.comment {

    &__text {
        font-weight: 500;
        font-size: 12px;
    }
}

.filter {
    display: grid;
    justify-items: flex-start;
    align-items: center;
    grid-template-columns: minmax(120px,15%) 65% 15%;
    grid-template-rows: 1fr 40% 50%;
    margin-bottom: 36px;

    @include phones {
        grid-template-columns: 124px 160px;
        grid-template-rows: auto auto auto auto;
    }

    &__title {
        grid-area: 1 / 1 / 2 / 4;
        margin-bottom: 12px;

        @include phones {
            grid-area: 1 / 1 / 1 / 4;
        }
    }
    &__main-title {
        font-weight: 600;
        font-size: 20px;
    }
    &__dropdowns-list {
        display: flex;
        gap: 24px;
        // @include phones {
        //     grid-area: 3 / 1 / 4 / 2;
        //     flex-direction: column;
        //     gap: 16px;
        //     margin-bottom: 20px;
        //     padding-top: 16px;
        // }
        //experemental
        @include phones {
            flex-wrap: wrap;
            grid-area: 2 / 1 / 3 / 3;
            flex-direction: row;
            gap: 8px;
            margin-bottom: 12px;
        }
    }
    &__dropdown {
        display: flex;
        align-items: center;
        padding: 8px 16px;
        border: 1px solid #0F0F0F;
        border-radius: 4px;
        background: #0F0F0F;
        //experemental
        @include phones {
            width: fit-content;
        }
    }
    &__name {
        color: #B8B8B8;
        font-weight: 500;
        font-size: 12px;
        margin-right: 4px;
    }
    &__category {
        display: flex;
        gap: 7px;
        white-space: nowrap
    }
    &__chosen-filters {
        grid-area: 3 / 1 / 4 / 3;
        display: flex;
        gap: 20px;
        white-space: nowrap;

        @include phones {
            grid-area: 4 / 1 / 5 / 3;
            flex-wrap: wrap;
            //experemental
            gap: 8px;
        }


    }
    &__chosen-filter {
        display: flex;
        align-items: center;
        padding: 8px 16px;
        border: 1px solid #0F0F0F;
        border-radius: 4px;
        background: #0F0F0F;
        &:last-child {
            background-color: transparent;
        }
    }
}